* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-items: center;
}

.first {
  background-color: #ffffff;
  height: 30vh;
  /* display: grid;
    place-items: center; */
}
.first h1 {
  font-size: 3rem;
  color: #030616;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 10vh;
  font-family: bold;
}
.first p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  color: #030616;
}

.second {
  height: 80vh;
  background-color: #f8fafc;
  padding: 20px 10px;
}
.second h2 {
  font-size: 1.7rem;
  color: #030616;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 15px;
}
.second p {
  font-size: 15px;
  color: #030616;
  text-align: center;
  line-height: 1.5rem;
}

ol {
  text-align: center;
}

li {
  margin-bottom: 10px;
  color: #030616;
  text-align: center;
}
